*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.containers{
    width: 80%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}
.contact{
    width: 100%;
    padding: 25px;
}
label{
    color: #222;
    font-size: 17px;
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}
button{
    font-size: 17px;
    background-color: #d45098;
    columns: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}